.gm-style-iw {
/*	width: 350px !important; */
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
/*	border-radius: 200px 200px 200px 200px;*/
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#iw-container {
	margin-bottom: 10px;
}
/*
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
*/
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: left;
	margin: 0 5px 5px 10px;
    border-radius: 24px;
    width:48px;
    height:48px;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}


#spotViewPopup-popup {
    width: 90%;
    height: 25%;
    left: 0;
}


.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important; 
}

.nav-glyphish-example .ui-btn .ui-icon { 
    width: 45px!important; 
    height: 35px!important; 
    margin-left: -24px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}

#mapbut {
    background-image: url( "../icon/globe.png" );
}

#spotbut {
    background-image: url( "../icon/marker.png" );
}

#commentsbut {
    background-image: url( "../icon/cloud.png" );
}

#messagesbut {
    background-image: url( "../icon/envelope.png" );

    
}

#profilebut {
    background-image: url( "../icon/gear.png" );
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 10pt 0;
}
#footer li {
  float: left;
  width: 20%;
}
#footer a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1em;
  
  background-repeat: no-repeat;
  background-position: center;
}

#three:after {
  content: attr( counter-value );
  color: white;
  font-size: 70%;
  padding: 2px;
  background-color:red;
  border-radius: 2em;
  border: 2px solid #fff;
  position: relative;
  left: 10px;  
  top: -10px;  
  
}
